<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Materia: Conceptualización de entornos de desarrollo de aplicaciones y servicios</p>
                <p>Nombre completo: Alma Topete Virgen</p>
                <p>Código: 222353004</p>
                <p>Correo de contacto: alma_topetevirgen&#64;hotmail.com</p>
            </div>
            <div class="col-md-6">
                <p>Derechos reservados © 2024</p>
            </div>
        </div>
    </div>
</footer>
