<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our movie catalog application!</p>
    <p>We strive to provide the best collection of movies for all movie enthusiasts.</p>
    <p>Contact us for any inquiries or feedback!</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/CZ3wIuvmHeM?si=4qMbQV-aA08uVkGP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  