.container {
    padding: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #f6f7f8f1;
    font-stretch: extra-condensed;
    margin-bottom: 20px;
  }
  