.container {
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 20px;
}

.movie-details {
    background-color: #333; /* Fondo de color sólido */
    padding: 20px;
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.movie-details p {
    color: #ccc; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente del texto */
}

.movie-details img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px; /* Borde redondeado para la imagen */
    margin-bottom: 20px; /* Margen inferior */
}



.modal-dialog {
    max-width: 500px;
}

.modal-body {
    font-size: 16px;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.close-icon {
    font-size: 1rem;
    color: #000;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.close:hover .close-icon {
    opacity: 1;
}
