/* You can add global styles to this file, and also import other style files */


#content-wrapper {
    background-image: url('assets/town.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
