  
    // Establece la altura máxima para la imagen del encabezado
    .description {
        max-height: 50px; // Ajusta el valor según sea necesario
        font-family: 'Arial', sans-serif; // Cambia el tipo de letra a Arial
        font-size: 24px; // Ajusta el tamaño de la fuente según sea necesario
        font-weight: bold; // Opcional: establece el peso de la fuente como negrita
        text-align: center; // Centra el texto horizontalmente
      }